<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6655932/659046/css/fonts.css" />
    <link href='https://fonts.googleapis.com/css?family=Playfair+Display:700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %> article">
      <div class="wrapper">
          <div class="top" style="">
              <a href="../">Back to Home</a>
          </div>
          <div class="main-header">

              <div class="container">

                  <h1><%= current_page.data.title %></h1>
                  <time><%= current_page.date.strftime('%b %e %Y') %> &middot; <%= current_page.data.tags %> &middot; <%= current_page.data.industry %></time>
              </div>
          </div>
          <div class="main-content">
              <div class="container">
                  <img src="../<%= current_page.data.img %>">
                  <%= yield %>
              </div>
          </div>
      </div>

  </body>
</html>
